# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.RunnerTestTask.iml
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\User\Work\RunnerTestTask\.idea\.idea.RunnerTestTask\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
